@model IEnumerable<Product>



@{
    ViewData["Title"] = "Index";
}

<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-sm-12 col-md-4">
            <h3>@product.Name</h3>
            <img class="img-fluid" src="@product.Image" alt="@product.Name" />
            <p> @product.Description</p>
            <h4> @product.Price</h4>

            <a class="btn btn-primary" asp-controller="Product" asp-action="Details" asp-route-id="@product.ID">View This Product</a>
            <form method="post" asp-action="Details">
                <input name="ID" value="@product.ID" type="hidden" />
                <input type="submit" class="btn btn-primary" value="Add to cart" />
            </form>
        </div>



    }



</div>

